.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    width: 400px;
    height: 400px;
}

.card-body p {
    color: black;
}

@media screen and (max-width: 480px) {
    .card img {
        width: 200px;
    }
}