.login-container h1 {
    width: 50%;
}

.delete-icon {
    color: red;
    font-size: 30px;
}


@media screen and (max-width: 480px) {



    .product-list th,
    td {
        font-size: 15px;
    }
}