@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
}

.colored-text {
    color: #6CBBFA;
}