.error-page-container {
    /* padding: 40px; */
}

.error-page-container h1 {
    font-size: 220px;
    font-weight: 900;
    margin-bottom: 50px;
    border-bottom: none;
    background-clip: text;
    background-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80');
    color: transparent;
}